.pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-container p {
    font-family: 'Staatliches', cursive;

    text-align: center;
    color:white;
    margin: 1rem;
    font-weight: bold;
    font-size: 3rem;
    color: #fff;
      text-shadow:  0 0 6px #fff, 
               0 0 10px #fff, 
               0 0 30px rgb(230, 18, 124),   
               0 0 70px rgb(230, 18, 124), 
               0 0 100px rgb(230, 18, 124) 
}

.pokemon-container img {
    width: 15rem;
    margin: 1rem;
    filter: drop-shadow(0 0 0.75rem rgb(220, 18, 124));
}

#button-next, #button-previous {
    font-family: 'Staatliches', cursive;
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
    margin: 1rem;
    width: 6em;
    height: 2rem;
    font-weight: bold;
      box-shadow: inset 0 0 18px #fff,
        inset 6px 0 18px #f3bad6,
        inset -6px 0 18px #0ff,
        inset 6px 0 30px #f3bad6, 
        inset -6px 0 30px #0ff,
        0 0 18px #fff, -4px 0 18px #f3bad6,
        4px 0 18px #0ff;
}